@import "../../styles/variables";
@import "../../styles/mixins";

.selectPlan {
  max-width: $width;
  width: 100%;
  @include flexCol;
  gap: 20px;
  margin-top: 50px;

  &__header {
    width: 100%;
    margin-bottom: 20px;

    p {
      margin-top: 15px;
      color: hsl(231, 11%, 63%);
      font-size: 1.3rem;
      font-family: $fontMed;
    }
  }
  &__plans {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    min-height: 200px;
  }
  &__switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background: hsl(217, 100%, 97%);
    border-radius: 8px;
    padding: 8px;
  }
}

.label {
  color: hsl(231, 11%, 63%);
  font-family: $font;
  font-weight: 700;
}

.active {
  color: $headingColor;
}
