@import "../../styles/variables";
@import "../../styles/mixins";

.thankYou {
  @include flexCol;
  max-width: $width;
  text-align: center;
  gap: 1.5rem;

  img {
  }

  h1 {
    font-family: $fontBold;
    font-size: 2.75rem;
    color: hsl(213, 96%, 18%);
  }

  p {
    line-height: 1.5;
    color: hsl(231, 11%, 63%);
    font-size: 1.25rem;
  }
}
