.nav {
  min-width: 450px;
  height: calc(100vh - 40px);
  border-radius: 10px;
  background-image: url("../../assets/images/bg-sidebar-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
