@import "./styles/variables";

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "ubuntu-med";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "ubuntu-bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  padding: 20px;
  font-family: $font;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  color: $headingColor;
  font-family: $fontBold;
  font-size: 2.75rem;
}
